input {
  text-align: center;
  font-size: calc(14px + 2vmin);
  outline-color: none;
  margin: 4px 10px;
  padding: 10px 20px;
  border-radius: 5px;
}
.add {
  text-align: center;
  font-size: calc(14px + 2vmin);
  background-color: plum;
  border-radius: 32px;
  outline: none;
  padding: 10px 20px;
  display: inline-block;
  margin: 4px 10px;
}

.add:hover {
  background-color: rgb(255, 204, 255);
}
